In [139]:
# importing all the packages needed 
import os
import pandas as pd

In [11]:
path = os.getcwd() # getting the path of current working directory to create the folder structure
configfile = os.path.join(path + '\Data' + '\\vehicle_collisions.csv') # getting the path of the json files to be read
print(configfile)

D:\SEM 2\Python\Assignments\chintha_archana_spring2017\Assignment 3\Data\vehicle_collisions.csv

In [63]:
#colNames = {'UNIQUE KEY':'object', 'DATE':'object', 'BOROUGH':'object'}
fields = ['DATE', 'BOROUGH']
df = pd.read_csv(configfile,skipinitialspace=True, usecols=fields)
df = df.fillna(0)

In [72]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['YEAR'], df['MONTH'] = df['DATE'].apply(lambda x: x.year), df['DATE'].apply(lambda x: x.month)

In [110]:
# date = pd.to_datetime(df['DATE'])
# df['YEAR'], df['MONTH'] = date.apply(lambda x: x.year), df['DATE'].dt.strftime('%b')

In [111]:
year2016 = df[(df['YEAR'] == 2016)]

In [201]:
months = year2016.groupby(['MONTH'], sort = True).size().to_frame().reset_index()
cond = (year2016['BOROUGH'] == 'MANHATTAN') 
manMonth = year2016[cond].groupby(['MONTH','BOROUGH'],  sort = True).size().to_frame().reset_index()
print(manMonth,months)

    MONTH    BOROUGH     0
0       1  MANHATTAN  3178
1       2  MANHATTAN  3195
2       3  MANHATTAN  3479
3       4  MANHATTAN  3540
4       5  MANHATTAN  3432
5       6  MANHATTAN  2956
6       7  MANHATTAN  3055
7       8  MANHATTAN  2844
8       9  MANHATTAN  2744
9      10  MANHATTAN  2831
10     11  MANHATTAN  2838
11     12  MANHATTAN  2634     MONTH      0
0       1  18101
1       2  15985
2       3  18471
3       4  18331
4       5  20052
5       6  19433
6       7  19867
7       8  19678
8       9  19492
9      10  19666
10     11  19315
11     12  19214

In [202]:
months.rename(columns = {0: 'NYC'}, inplace=True)
manMonth.rename(columns = {0: 'MANHATTAN'}, inplace=True)
data = []
cols = ['MONTH', 'MANHATTAN', 'NYC', 'PERCENTAGE']
resultFrame = pd.DataFrame(columns = cols)
for a,b in zip(months, manMonth):
    if (a == b):
        for df.iterrows()
            percent = manMonth['MANHATTAN']/months['NYC']
        #resultFrame.pd.DataFrame({'MONTH':a, 'MANHATTAN':manMon['MANHATTAN'], 'NYC': months['NYC'], 'PERCENTAGE':percent})
        #print(months['MONmonths['MONTH']TH'])
            months['MONTH'] = pd.to_datetime(months['MONTH'])
            months['MONTH'] = months['MONTH'].dt.strftime('%b')
            months.insert(1,'MANHATTAN',manMonth['MANHATTAN'])
            months.insert(3,'PERCENTAGE',percent)
        #months['MANHATTAN'] = manMonth['MANHATTAN']
        #months['PERCENTAGE'] =percent

In [203]:
# months['MONTH'] = pd.to_datetime(months['MONTH'])
# months['MONTH'] = months['MONTH'].dt.strftime('%b')
months

   MONTH  MANHATTAN    NYC  PERCENTAGE
0    Jan       3178  18101    0.175570
1    Jan       3195  15985    0.199875
2    Jan       3479  18471    0.188349
3    Jan       3540  18331    0.193115
4    Jan       3432  20052    0.171155
5    Jan       2956  19433    0.152112
6    Jan       3055  19867    0.153773
7    Jan       2844  19678    0.144527
8    Jan       2744  19492    0.140776
9    Jan       2831  19666    0.143954
10   Jan       2838  19315    0.146932
11   Jan       2634  19214    0.137088

In [193]:
months['MONTH']

0     Jan
1     Jan
2     Jan
3     Jan
4     Jan
5     Jan
6     Jan
7     Jan
8     Jan
9     Jan
10    Jan
11    Jan
Name: MONTH, dtype: object

In [162]:
cols = ['MONTH', 'MANHATTAN', 'NYC', 'PERCENTAGE']
resultFrame = pd.DataFrame(data, columns = cols)
resultFrame

,MONTH,MANHATTAN,NYC,PERCENTAGE
0,0 1 1 2 2 3 3 4 4 5 5...,0 3178 1 3195 2 3479 3 3540 4 ...,0 18101 1 15985 2 18471 3 1833...,0 0.175570 1 0.199875 2 0.188349 3...