In [1]:
# importing all the packages needed 
import os
import pandas as pd
import calendar

In [21]:
path = os.getcwd() # getting the path of current working directory to create the folder structure
configfile = os.path.join(path + '\Data' + '\\vehicle_collisions.csv') # getting the path of the json files to be read

In [3]:
fields = ['DATE', 'BOROUGH']
df = pd.read_csv(configfile,skipinitialspace=True, usecols=fields)
df = df.fillna(0)

In [6]:
df['DATE'] = pd.to_datetime(df['DATE'])
df['YEAR'], df['MONTH'] = df['DATE'].apply(lambda x: x.year), df['DATE'].apply(lambda x: x.month)

In [7]:
year2016 = df[(df['YEAR'] == 2016)]
year2016 = year2016.sort_values(['MONTH'], ascending=1)
year2016['MONTH'] = year2016['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [20]:
months = year2016.groupby(['MONTH'], sort = False).size().to_frame().reset_index()
cond = (year2016['BOROUGH'] == 'MANHATTAN') 
manMonth = year2016[cond].groupby(['MONTH','BOROUGH'], sort = False).size().to_frame().reset_index()

In [26]:
months.rename(columns = {0: 'NYC'}, inplace=True)
manMonth.rename(columns = {0: 'MANHATTAN'}, inplace=True)
manhattanNYC = manMonth.merge(months, how = 'outer')
percent = manhattanNYC['MANHATTAN']/manhattanNYC['NYC']
manhattanNYC['PERCENTAGE'] = percent
manhattanNYC.head()

  MONTH    BOROUGH  MANHATTAN    NYC  PERCENTAGE
0   Jan  MANHATTAN       3178  18101    0.175570
1   Feb  MANHATTAN       3195  15985    0.199875
2   Mar  MANHATTAN       3479  18471    0.188349
3   Apr  MANHATTAN       3540  18331    0.193115
4   May  MANHATTAN       3432  20052    0.171155

In [25]:
manhattanNYC.to_csv(os.path.join(path + '\Q1_Part_1.csv'),index=False)